.elem {
    text-align: center;
    font-size: large;
}

table {
    margin-top: 80px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    font-size: large;
    border-collapse: separate;
    border-spacing: 0 15px;
}
th {
    padding-right: 5%;
}

td{
    padding-left: 10%;
}